<%= stylesheet_link_tag 'signuppage', media: 'all', 'data-turbolinks-track': 'reload' %>

<main class="idgroup23 divsty29">
  <div class="idgroup17 idgroup32 divsty22 divsty38">
    <div class="idgroup16 divsty18">
      <a>
        <div><%= image_tag"photo1.png" %></div>
      </a>
    </div>
    <div class="idgroup16 divsty19 idgroup33 divsty39">
      <div class="idgroup34 divsty40"><div class="Toastify">

      </div>
        <div class="idgroup17 divsty22">
          <div class="idgroup16 divsty20">
            <div class="idgroup35 divsty41">
              <h4 class="idgroup4 divsty3" font-weight="bold">Créer un compte Avito.ma</h4>
            </div>
          </div>
          <div class="idgroup16 divsty21">
            <div class="idgroup27 divsty33">
              <div id="googleButton" class="idgroup28 divsty34">
                <div style="position: relative;">
                  <div></div>
                  <button class="divstyl46">
                    <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" class="LgbsSe-Bz112c"><g><path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path><path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path><path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path><path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path><path fill="none" d="M0 0h48v48H0z"></path></g></svg>
                    <span>Se connecter</span>
                  </button>
                </div>
              </div>
              <div class="idgroup11 divsty12">
                <button class="idgroup26 divsty32">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="FacebookTitleID" style="fill: currentcolor; stroke: currentcolor; stroke-width: 0;">
                    <title id="FacebookTitleID">Facebook Icon</title>
                    <path d="M14 13.5h2.5l1-4H14v-2c0-1.03 0-2 2-2h1.5V2.14c-.326-.043-1.557-.14-2.857-.14C11.928 2 10 3.657 10 6.7v2.8H7v4h3V22h4v-8.5z"></path>
                  </svg>
                  <span>Se connecter</span>
                </button>
              </div>
            </div>
            <div class="idgroup19 divsty24" color="sea_dark">
              <svg class=" idgroup20 divsty26" height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="ErrorOutlineTitleID" style="fill: rgb(36, 85, 204); stroke: rgb(36, 85, 204); stroke-width: 0;">
                <title id="ErrorOutlineTitleID">ErrorOutline Icon</title>
                <path d="M11 15h2v2h-2v-2zm0-8h2v6h-2V7zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
              </svg>
              <div class="idgroup22 divsty28">
                <span class="idgroup21 divsty27">En utilisant l'authentification facile, vous pouvez remplir vos données supplémentaires ultérieurement dans les paramètres de votre compte</span>
              </div>
            </div>
          </div>
          <div class="idgroup16 divsty21">
            <div class="idgroup29 divsty35">
              <div class="idgroup30 divsty36"></div>
              <div class="idgroup31 divsty37">OU BIEN</div>
              <div class="idgroup30 divsty36"></div>
            </div>
          </div>
          <div class="idgroup16 divsty20">
            <%= form_with model: @utilisateur do |form| %>
              <p class="idgroup4 divsty4">Entrez vos coordonnées ci-dessous</p>
              <div class="idgroup11 divsty12">
                <label for="name" class="idgroup12 divsty13">
                  <span>*</span>Nom
                </label>
                <div tabindex="-1" class="idgroup14 divsty15">
                  <div class="idgroup15 divsty16">
                    <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="AccountCircleTitleID" style="fill: rgb(155, 155, 155); stroke: rgb(155, 155, 155); stroke-width: 0;">
                      <title id="AccountCircleTitleID">AccountCircle Icon</title>
                      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 3c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm0 14.2a7.2 7.2 0 01-6-3.22c.03-1.99 4-3.08 6-3.08 1.99 0 5.97 1.09 6 3.08a7.2 7.2 0 01-6 3.22z"></path>
                    </svg>
                  </div>
                  <%= form.text_field :nom, class:"idgroup4 divstyl3", placeholder: "Votre nom" %>
                  <div class="idgroup15 divsty17"></div>
                </div>
              </div>
              <div class="idgroup11 divsty12">
                <label for="email" class="idgroup12 divsty13">
                  <span>*</span>E-mail
                </label>
                <div tabindex="-1" class="idgroup14 divsty15">
                  <div class="idgroup15 divsty16">
                    <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="EmailTitleID" style="fill: rgb(155, 155, 155); stroke: rgb(155, 155, 155); stroke-width: 0;">
                      <title id="EmailTitleID">Email Icon</title>
                      <path d="M18.4 6c.88 0 1.6.72 1.6 1.6v9.6c0 .88-.72 1.6-1.6 1.6H5.6c-.88 0-1.6-.72-1.6-1.6l.008-9.6c0-.88.712-1.6 1.592-1.6h12.8zm-.8 11.2c.44 0 .8-.36.8-.8V9.2l-5.552 3.472a1.585 1.585 0 01-1.696 0L5.6 9.2v7.2c0 .44.36.8.8.8h11.2zM12 11.6l6.4-4H5.6l6.4 4z"></path>
                    </svg>
                  </div>
                  <%= form.text_field :email, class:"idgroup13 divsty14", placeholder: "nom@example.com" %>
                  <div class="idgroup15 divsty17"></div>
                </div>
              </div>
              <div class="idgroup11 divsty12">
                <label for="phone" class="idgroup12 divsty13">
                  <span>*</span>Téléphone
                </label>
                <div tabindex="-1" class="idgroup14 divsty15">
                  <div class="idgroup15 divsty16">
                    <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="PhoneTitleID" style="fill: rgb(155, 155, 155); stroke: rgb(155, 155, 155); stroke-width: 0;">
                      <title id="PhoneTitleID">Phone Icon</title>
                      <path d="M7.218 10.924a13.42 13.42 0 005.858 5.858l1.955-1.955a.892.892 0 01.907-.223c.995.33 2.062.507 3.173.507.491 0 .889.398.889.889v3.111a.889.889 0 01-.889.889C10.765 20 4 13.235 4 4.889A.889.889 0 014.889 4H8a.89.89 0 01.889.889c0 1.111.178 2.178.507 3.173a.892.892 0 01-.223.907l-1.955 1.955z"></path>
                    </svg>
                  </div>
                  <%= form.text_field :telephone, class:"idgroup13 divsty14", placeholder: "06XXXXXXXX" %>
                  <div class="idgroup15 divsty17"></div>
                </div>
              </div>
              <div class="idgroup11 divsty12">
                <label for="password" class="idgroup12 divsty13">
                  <span>*</span>Mot de passe
                </label>
                <div tabindex="-1" class="idgroup14 divsty15">
                  <div class="idgroup15 divsty16">
                    <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="UnlockTitleID" style="fill: rgb(155, 155, 155); stroke: rgb(155, 155, 155); stroke-width: 0;">
                      <title id="UnlockTitleID">Unlock Icon</title>
                      <path d="M12 17a2 2 0 002-2 2 2 0 00-2-2 2 2 0 00-2 2 2 2 0 002 2m6-9a2 2 0 012 2v10a2 2 0 01-2 2H6a2 2 0 01-2-2V10a2 2 0 012-2h1V6a5 5 0 015-5 5 5 0 015 5v2h1m-6-5a3 3 0 00-3 3v2h6V6a3 3 0 00-3-3z"></path>
                    </svg>
                  </div>
                  <%= form.password_field :password, class:"idgroup13 divsty14", placeholder: "Choisissez un mot de passe" %>
                  <div class="idgroup15 divsty17"></div>
                </div>
              </div>
              <div class="idgroup19 divsty25 idgroup37 divsty43" color="mars_dark">
                <svg class="av-icon idgroup20 divsty26" height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="ErrorOutlineTitleID" style="fill: rgb(230, 156, 33); stroke: rgb(230, 156, 33); stroke-width: 0;">
                  <title id="ErrorOutlineTitleID">ErrorOutline Icon</title>
                  <path d="M11 15h2v2h-2v-2zm0-8h2v6h-2V7zm.99-5C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z"></path>
                </svg>
                <div class="idgroup22 divsty28">
                  <span class="idgroup21 divsty27">(Au moins 5 caractères) Choisissez un mot de passe qui n'est pas facile à deviner.</span>
                </div>
              </div>
              <div class="idgroup11 divsty12">
                <label for="passwordConfirmation" class="idgroup12 divsty13">
                  <span>*</span>Confirmer le mot de passe</label>
                <div tabindex="-1" class="idgroup14 divsty15">
                  <div class="idgroup15 divsty16">
                    <svg class="av-icon" height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-labelledby="UnlockTitleID" style="fill: rgb(155, 155, 155); stroke: rgb(155, 155, 155); stroke-width: 0;">
                      <title id="UnlockTitleID">Unlock Icon</title>
                      <path d="M12 17a2 2 0 002-2 2 2 0 00-2-2 2 2 0 00-2 2 2 2 0 002 2m6-9a2 2 0 012 2v10a2 2 0 01-2 2H6a2 2 0 01-2-2V10a2 2 0 012-2h1V6a5 5 0 015-5 5 5 0 015 5v2h1m-6-5a3 3 0 00-3 3v2h6V6a3 3 0 00-3-3z"></path>
                    </svg>
                  </div>
                  <%= form.password_field :password_confirmation, class:"idgroup13 divsty14", placeholder: "Choisissez un mot de passe" %>
                  <div class="idgroup15 divsty17"></div>
                </div>
              </div>
              <%= form.submit "Créer un compte", class: "btn btn-primary form-control mysignupbutton" %>
            <% end %>
          </div>
          <div class="idgroup16 divsty20">
            <div class="sc-d3qu79-7 divsty44">Vous avez déjà un compte?
              <%= link_to "Se connecter", login_path, class: "idgroup39 divstyl45" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="Toastify"></div>
</main>