<%= render 'layouts/searchField' %>
<div>
  <div class="containerT">
    <div class="card no-borders">
      <div class="card-body">
        <%= image_tag "market.png", width: "25", height: "25", style: "{display: inline-block; margin-right: 10px;}" %>
        Market
      </div>
    </div>
    <hr id="hrununique">
  </div>
</div>
<div class="containerB">
  <%= render 'annonces/show' %>
</div>

<div>
  <div class="containerT">
    <div class="card no-borders">
      <div class="card-body">
        <%= image_tag "building.png", width: "25", height: "25", style: "{display: inline-block; margin-right: 10px;}" %>
        Immobiliers
      </div>
    </div>
    <hr id="hrununique">
  </div>
</div>
<div class="containerB">
  <%= render 'annonces/showIMM' %>
</div>

<div>
  <div class="containerT">
    <div class="card no-borders">
      <div class="card-body">
        <%= image_tag "car.png", width: "25", height: "25", style: "{display: inline-block; margin-right: 10px;}" %>
        Véhicules
      </div>
    </div>
    <hr id="hrununique">
  </div>
</div>
<div class="containerB">
  <%= render 'annonces/showVHL' %>
</div>

<div>
  <div class="containerT">
    <div class="card no-borders">
      <div class="card-body">
        <%= image_tag "building.png", width: "25", height: "25", style: "{display: inline-block; margin-right: 10px;}" %>
        Entreprise
      </div>
    </div>
    <hr id="hrununique">
  </div>
</div>
<div class="containerB">
  <%= render 'annonces/showENT' %>
</div>


